charset "utf-8";
/* CSS Document */

*{
margin:0px;
padding:0px;
}

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr{
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6{
font-size:1em;
font-weight:normal;
font-style:normal;
}

img{
border:none;
}

p, td, li, div, span{
font-family:Trebuchet MS;
font-size:13px;
font-weight:normal;
color:#161616;
line-height:18px;
}

body{
font-family:Trebuchet MS;
font-size:13px;
font-weight:normal;
color:#161616;
background:#d2d3d5;
}

input, select, textarea{
margin:0px;
padding:0px;
font-family:Trebuchet MS;
font-size:13px;
color:#707070;
}
.img {
border:1px solid #858585;
 padding:1px
 }
.star{
color:#FF0000;
}

.fl-left{
float:left;
}
.fl-right{
float:right;
}
.clear{
clear:both;
height:0px;
line-height:0px;
}

a{
color:#ee2023;
text-decoration:underline;
}
a:hover {
color:#303030;
text-decoration:underline;
}
a#selected {
color:#303030;
text-decoration:underline;
}

.more{
color:#FF0000;
text-decoration:none;
}
.more:hover{
color:#404040;
text-decoration:underline;
}

.bold{
font-weight:bold;
}

.red{
color:#ee2023;
}
.grey{
color:#505050;
}
.white{
color:#FFF;
}


.fnt-11{font-size:11px;}
.fnt-14{font-size:14px;}
.fnt-16{font-size:16px;}
.fnt-17{font-size:17px;}
.fnt-18{font-size:18px;}
.fnt-20{font-size:20px;}
.fnt-22{font-size:22px;}
.fnt-24{font-size:24px;}
.fnt-26{font-size:26px;}
.fnt-28{font-size:28px;}
.fnt-30{font-size:30px;}
.fnt-34{font-size:34px;}
.fnt-36{font-size:36px;}
.fnt-40{font-size:40px;}

ul, ol{
margin:0px;
padding:0px;color:#161616;
}
ul li, ol li{
margin-left:20px;color:#161616;
padding:0px;
line-height:20px;
}

.logo{
float:left;
width:133px;}


.container{
width:1000px; background:#fff;
text-align:left;
position:relative;
}
.header{
height:231px;
position:relative;
background:url(images/header-bg.png) no-repeat right top;
}
.logo{
position:absolute;
top:30px;
left:25px;
width:380px;
}
.top-butt{
position:absolute;
top:68px;
right:12px;
width:140px;
}
.top-butt a{
margin-bottom:8px;
}
.top-butt .but1{
background:url(images/redtabCn.png) no-repeat; width:140px;height:37px; display:block; float:left;text-decoration:none;
}
.top-butt .but1:hover{
background:url(images/redtabC.png) no-repeat; text-decoration:none;
}
.top-butt .but2{
background:url(images/redtabEn.png) no-repeat; width:140px;height:37px; display:block; float:left;text-decoration:none;
}
.top-butt .but2:hover{
background:url(images/redtabE.png) no-repeat;text-decoration:none;
}
.body-m{
padding:0px 22px;
text-align:left;
}
.sideL{
float:left;
width:240px;
}
.sideRH{
float:left;
width:714px;
}
.sideR{
float:left; background:#f3f3f5;
width:702px; border:6px solid #6d6e71;
}

.menu{
position:absolute;
right:23px;
top:188px;
width:714px;
}
.menu a{background:url(images/menu-bg.png) no-repeat;
width:102px;height:30px; padding-top:13px; display:block; float:left;
line-height:30px;
color:#FFF;
font-size:13px;
font-weight:bold; text-align:center;
text-decoration:none;
}
.menu a:hover{background:url(images/menuh.png) no-repeat;
color:#FFF;
}
.menu a#selected{background:url(images/menu-sel.jpg) no-repeat;color:#FFF; text-decoration:none;}
.menu a#selected2{background:url(images/menu-sel2.jpg) no-repeat;color:#FFF; text-decoration:none;}
.menu a#selected3{background:url(images/menu-sel3.jpg) no-repeat;color:#FFF; text-decoration:none;}


.content{
padding:25px 25px 20px 35px; min-height:403px;font-size:15px;
}
.content h2{
color:#1FAE00;
font-size:20px;
line-height:22px;
font-weight:normal;
}
.content p{
margin-top:15px; font-size:15px;
line-height:20px;
}

.ql .pic{ border:3px solid #ee2023}
.ql p{ margin:12px 0px; text-align:center;}
.ql a{display:block;background:url(images/redtabRn.png); width:169px; height:37px;text-decoration:none}
.ql a:hover, .ql a#selected{display:block;background:url(images/redtabR.png);text-decoration:none}
.ql hr{ margin:12px 0px}

.thumbs{ margin-left:10px;}
.thumbs ul{display:inline;list-style:none; margin:0; padding:0;}
.thumbs li{margin:0; padding:0;float:left; width:170px; height:212px; margin-right:8px;} 
.thumbs .last{margin-right:0px;}
.thumbs img{margin-top:3px;}
.thumbs .heading{display:block; color:#161616;background:url(images/bhead-bg.png);line-height:36px; font-weight:bold; text-align:center; font-size:13px; text-decoration:none;}

.oilngas-popup{background:url(images/popup-oilngas.jpg);width:800px; height:570px; position:relative; text-align:left;}
.rail-popup{background:url(images/popup-rail.jpg);width:800px; height:570px; position:relative; text-align:left;}
.prod-popup{background:url(images/popup-prod.jpg);width:800px; height:570px; position:relative; text-align:left;}
.hcare-popup{background:url(images/popup-hcare.jpg);width:800px; height:570px; position:relative; text-align:left;}
.water-popup{background:url(images/popup-water.jpg);width:800px; height:570px; position:relative; text-align:left;}
.pharma-popup{background:url(images/popup-pharma.jpg);width:800px; height:570px; position:relative; text-align:left;}
.power-popup{background:url(images/popup-power.jpg);width:800px; height:570px; position:relative; text-align:left;}
.downloads-popup{background:url(images/popup-downloads.jpg);width:800px; height:570px; position:relative; text-align:left;}
.enq-popup{background:url(images/popup-enq.jpg);width:800px; height:570px; position:relative; text-align:left;}
.expw-popup{background:url(images/popup-expw.jpg);width:800px; height:570px; position:relative; text-align:left;}

.contact-popup{background:url(images/popup-contact.jpg);width:735px; height:635px; position:relative; text-align:left;}
.contact-popup span{ font-size:22px; line-height:30px;}
.contact-popup .popup{padding-top:170px; margin-left:120px}
.contact-popup .popup h2{top:110px; left:120px;}

.recomendus-popup{background:url(images/popup-recomendus.jpg);width:800px; height:377px; position:relative; text-align:left;}

.levelserv-popup{background:url(images/popup-3levelserv.jpg);width:800px; height:570px; position:relative; text-align:left;}

.popup{padding-top:100px; margin-left:80px}
.popup h2{position:absolute;top:58px; left:80px; color:#fff; font-size:19px; line-height:19px; text-transform:uppercase;}
.popup p{margin:15px 0px;}

.popup label{ float:left; margin-right:15px; margin-top:5px;}
.popup input[type="text"]{float:left;}
.popup input[type="submit"]{border:0;background:url(images/submit.jpg); color:#fff; font-weight:bold; font-size:18px; width:130px; height:30px; padding-bottom:5px; cursor:pointer;}

.recomendus-popup input[type="submit"].submit{border:0;background:url(images/submit.jpg); color:#fff; font-weight:bold; font-size:18px; width:130px; height:30px; padding-bottom:5px; cursor:pointer;}

/* fields*/
select{
border:1px solid #d0d0d0;
background:#FFFFFF;
color:#707070;
}
textarea{
border:1px solid #d0d0d0;
background:#fafafa;
color:#505050;
padding:4px
}
.submit{
background:url(images/butt-bg.png) repeat-x;
border:0;
line-height:27px;
text-align:center;
}

input[type="text"], input[type="password"], input[type="reset"]{
border:1px solid #d0d0d0;
background:#FFFFFF;
color:#909090;
padding:5px 2px 5px 3px;
}
/* fields*/

/* footer*/
.footer{color:#a4a4a4; text-align:center;
}
.copyright{ text-align:center;
color:#808082;
padding-bottom:10px; margin-top:5px;
}
.footer a{
color:#808082; font-size:11px;
text-decoration:underline;
}
.footer a:hover, .footer a#selected{
color:#ec0a10;
text-decoration:underline;
}
/* footer*/